



/* Colors and Accents for the entire page */
:root {
    --accent-color-3: #f0e4f8;
    --accent-color-2: #141d27;
    --accent-color-1: #8397f1;
    --accent-color-4: #08059b;
    --accent-color-5: #a2ceda;
}

/* Applies background color to entire page */
body {
    background-color: var(--accent-color-2);
    margin: 0;
    font-family: 'Canva Sans', sans-serif;
}

/* Moving header keyframe */
header {
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    color: #fff;
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/project-pics-2/blacknight.avif');
    background-size: cover;
    height: 60vh;
}

.name-text {
    padding-top: 15vh;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    background-image: url(../assets/project-pics-2/marblehero.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

/* Arrow Button */

#arrow-btn {
    font-size: 24px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-image: url(../assets/project-pics-2/marblehero.avif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBackground 180s infinite linear;
    -webkit-animation: moveBackground 180s infinite linear;
}

/* Align navbar to the top */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 20px; /* Add some margin between navigation items */
}

/* Nav Bar Psuedo Classes / Effects */
.nav-item:hover {
    color: var(--accent-color-3);
}

/* Remove left padding from navbar-nav */
.navbar-nav {
    margin-right: 30px; /* Adjust the value as needed */
    padding-left: 20px;
    padding-right: 20px;
}

/* Applies to page section titles (About Me, Work, Contact Me) */
.section-title {
    color: whitesmoke;
    padding: 20px;
}

/* Applies to about me section and photo */

#about-me-photo {
    border: 5px solid var(--accent-color-3);
    height: 350px;
    margin: 10px;
}

/* Entire about me box */
.about {
    display: flex;
    align-items: center;
}

#about-me-paragraph {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    margin-right: 35px;
    padding: 15px;
    color: whitesmoke;
}

/* Applies to "work" section displaying portfolio items */
.project-boxes {
    width: 48%;
    color: var(--accent-color-2);
    padding-left: 10px;
    margin: 10px 0;
    border: 5px solid var(--accent-color-3);
}

/* CAROUSEL ITEMS */

.carousel-item {
    height: 400px;
    width: 80%;
}

.carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover; /* Preserve the aspect ratio of the image */
}

.carousel-inner {
    padding: 1em;
    overflow: hidden;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--accent-color-5);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
    .carousel-inner {
        display: flex;
    }
}

.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Use object-fit to control the image resizing */
}

/* END CAROUSEL ITEMS */

/* Buttons in Carousel items  */

.btn-primary {
    background-color: var(--accent-color-1);
    color: var(--accent-color-2);
}

.btn-secondary {
    background-color: var(--accent-color-5);
    color: var(--accent-color-2);
}

.btn:hover {
    background-color: var(--accent-color-2);
}

/* Contact Me Section */

.contact-me-items {
    padding: 30px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Applies Psuedo Classes / Effects to Contact Info*/
.contact:hover {
    background-color: var(--accent-color-5);
}

/* Applies "Dont Be Shy - Lets Connect!"" */
.footer h4 {
    margin: 0;
    padding: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* -----------------------------MEDIA SCREENS ------------------------------- */
/* Media Screens for oontact me items*/
@media screen and (max-width: 820px) {
    .contact-me-items a {
        font-size: auto;
    }

    nav {
        font-size: 1em;
        display: block;
    }
    nav a {
        font-size: 0.9em;
        display: flex;
    }
    .project-heading {
        font-size: 0.8em;
        display: flex;
    }
    .subheading {
        font-size: 0.85em;
        display: flex;
    }
    #about-me-paragraph {
        font-size: 1em;
        margin-top: 25px;
    }

    #about-me-photo {
        margin-left: 50px;
    }
    .about {
        display: flex;
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .text {
        font-size: 1.8em;
    }
}

/* Media query to display one item at a time on smaller screens */
@media (max-width: 767px) {
    .carousel-inner {
        display: flex;
        flex-wrap: nowrap; /* Prevent items from wrapping to a new line */
    }


    .carousel-item {
        flex: 0 0 100%; /* Set each item to occupy the full width */
        display: block;
        margin-right: 0;
    }
}

